[Desktop Entry]
Version=1.0
Type=Link
Name=main2maior.pyTexto
Comment=
Icon=user-bookmarks
URL=https://drive.google.com/file/d/1AiZfyRCZ--csFTZKGavrCm9YHKhrzJms/view?usp=classroom_web&authuser=0
