[Desktop Entry]
Version=1.0
Type=Link
Name=main2.pyTexto
Comment=
Icon=user-bookmarks
URL=https://drive.google.com/file/d/153r7zxM0gx6qMJxPc1GVS1_WpQug29_o/view?usp=classroom_web&authuser=0
