[Desktop Entry]
Version=1.0
Type=Link
Name=main1.pyTexto
Comment=
Icon=user-bookmarks
URL=https://drive.google.com/file/d/1vFbT-fircEST_1X1xmAZGtn6KdXSj9og/view?usp=classroom_web&authuser=0
