[Desktop Entry]
Version=1.0
Type=Link
Name=main3movelimite.pyTexto
Comment=
Icon=user-bookmarks
URL=https://drive.google.com/file/d/1ioOObUPPJ1IxaetsyECE9tR1N-P7VkT1/view?usp=classroom_web&authuser=0
