[Desktop Entry]
Version=1.0
Type=Link
Name=main3move.pyTexto
Comment=
Icon=user-bookmarks
URL=https://drive.google.com/file/d/1qT_kZN8XkxIvYN2SERZ4-ZDWOZVRL2id/view?usp=classroom_web&authuser=0
